@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* background-color: #f9efdc; */
  scroll-behavior: smooth;
}

@font-face {
  font-family: "CisalackSignature";
  src: url("/cisalack-signature-font/CisalackSignature.ttf") format("truetype");
}

.CisalackSignature {
  font-family: "CisalackSignature";
}

@font-face {
  font-family: "Golanerounded";
  src: url("/golane-rounded-drawn-font/Golanerounded.otf");
}

.Golanerounded {
  font-family: "Golanerounded";
}
